body, section, article, h1, div, main, span, ul, p, h2 {
  margin: 0;
  border: 0;
  padding: 0;

  font: inherit;
  text-align: inherit;
  color: inherit;
  text-decoration: inherit;

  background: transparent;
}

body {
  background-image: url('../assets/imgs/background.jpg')
}

.widgets {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1300px;
  flex-wrap: wrap;
  margin: auto;
}

h1 {
  font-size: 50px;
  font-family: Lobster;
  text-align: center;
  margin-top: 40px;
}

h2 {
  padding: 20px;
  font-size: 30px;
  font-family: Lobster;
  text-align: center;
}
